@page "/fetchdata"
@page "/fetchdata/{Device:int}"
@using TheSwamp.Shared
@inject HttpClient Http

<h1>Fetch data</h1>

<p>Demonstrates fetching data from the server.</p>

@if (values == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>TimestampUtc</th>
                <th>Value</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var val in values)
            {
                <tr>
                    <td>@val.TimestampUtc</td>
                    <td>@val.Value</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public int Device { get; set; }

    private DeviceValue[] values;

    protected override async Task OnInitializedAsync()
    {
        await Task.CompletedTask;
    }

    protected override async Task OnParametersSetAsync()
    {
      try
      {
            values = await Http.GetFromJsonAsync<DeviceValue[]>($"/api/monitor/{Device}");
      }
      catch (Exception ex)
      {
            Console.WriteLine(ex.ToString());
      }
    }
}
