@page "/fetchdata"
@using TheSwamp.Shared
@inject HttpClient Http

<h1>Fetch data</h1>

<p>Demonstrates fetching data from the server.</p>

@if (rs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        @rs
    </div>

}

@code {
    private string rs;

    protected override async Task OnInitializedAsync()
    {
      try
      {
            rs = await Http.GetStringAsync("/api/ping");
            //rs = await Http.GetFromJsonAsync("/api/ping");
      }
      catch (Exception ex)
      {
            rs = ex.Message;
            Console.WriteLine(ex.ToString());
      }
    }
}
