@page "/"
@inject HttpClient Http

<h1>Hello, world!</h1>

<p>
Yeah, it's that crappy .Net off the shelf starter app!
</p>

<ul>
    <li>upgrade-net5 branch</li>
    <li>changed & pushed</li>
    <li>Rebooted repository -> latest template (net5.0 client)</li>
</ul>


<div class="dev">
      <div>/.auth/me</div>
	<pre>
	    @_rs1
	</pre>
@*      <div>/api/auth</div>
      <pre>
	    @_rs2
      </pre>
*@</div>

@code {

    private string _rs1 = null;
    //private string _rs2 = null;

    protected override async Task OnInitializedAsync()
    {
      try
      {
            _rs1 = "Loading...";
            _rs1 = await Http.GetStringAsync("/.auth/me");
      }
      catch (Exception ex)
      {
            _rs1 = ex.Message;
      }

      //try
      //{
      //      _rs2 = "Loading...";
      //      _rs2 = await Http.GetStringAsync("/api/auth");
      //}
      //catch (Exception ex)
      //{
      //      _rs2 = ex.Message;
      //}
    }
}
