@page "/"
@inject HttpClient Http

<h1>Hello, world!</h1>
<p>Personal web site / playground for <a href="https://github.com/randombluething">P J Whitby</a></p>

<h2>Stack:</h2>
<ul>
    <li><a href="https://docs.microsoft.com/en-gb/azure/static-web-apps/overview">Azure static web app</a></li>
    <li><a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor web assembly</a></li>
    <li><a href="https://docs.microsoft.com/en-gb/azure/azure-functions/functions-overview">Azure functions</a> backend</li>
    <li><a href="https://dotnet.microsoft.com/apps/aspnet/signalr">SignalR</a> for realtime updates</li>
    <li>MSSQL</li>
    <li><a href="https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-overview">Service Bus</a> queues</li>
    <li>Raspberry PI 4b running Ubuntu and .Net core 5</li>
</ul>

<div class="dev">
      <div>/.auth/me</div>
	<pre>
	    @_rs1
	</pre>
@*      <div>/api/auth</div>
      <pre>
	    @_rs2
      </pre>
*@</div>

@code {

    private string _rs1 = null;
    //private string _rs2 = null;

    protected override async Task OnInitializedAsync()
    {
      try
      {
            _rs1 = "Loading...";
            _rs1 = await Http.GetStringAsync("/.auth/me");
      }
      catch (Exception ex)
      {
            _rs1 = ex.Message;
      }

      //try
      //{
      //      _rs2 = "Loading...";
      //      _rs2 = await Http.GetStringAsync("/api/auth");
      //}
      //catch (Exception ex)
      //{
      //      _rs2 = ex.Message;
      //}
    }
}
