@page "/"
@inject HttpClient Http

<h1>Hello, world!</h1>

Yeah, it's that crappy .Net off the shelf starter app!

<div class="dev">
      <div>/.auth/me</div>
	<pre>
	    @_rs1
	</pre>
      <div>/api/Auth</div>
      <pre>
	    @_rs2
      </pre>
</div>

@code {

    private string _rs1 = null;
    private string _rs2 = null;

    protected override async Task OnInitializedAsync()
    {
      try
      {
            _rs1 = "Loading...";
            _rs1 = await Http.GetStringAsync("/.auth/me");
      }
      catch (Exception ex)
      {
            _rs1 = ex.Message;
      }

      try
      {
            _rs2 = "Loading...";
            _rs2 = await Http.GetStringAsync("/api/Auth");
      }
      catch (Exception ex)
      {
            _rs2 = ex.Message;
      }
    }
}
