@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="top-row px-4">
        <a href="/.auth/login/aad">Login</a>
        <a href="https://github.com/swampnet/theswamp-web" target="_blank" class="ml-md-auto"><img src="img/GitHub-Mark-32px.png"/></a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
