<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">The Swamp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="post-message">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Post message
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> IoT
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wine">
                <span class="oi oi-copywriting" aria-hidden="true"></span> <span style="font-family: 'Tangerine', serif;font-size: 24px;">Wine Reviews?!</span>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
